<%- include('includes/head.ejs') %>
 
<main class="container">
        <div class="row">
            <a href="/muestras/list">Lista de muestras</a>
            <h1><%= titulo %></h1>

            <div class="col s12 m6 l4">
                
                <form action="/muestras/edit/<%=lista_muestras.indice_medicinas%>" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <label for="nombre">Nombre de la muestra: </label>
                    <input type="text" id="nombre" name="nombre" placeholder="<%= lista_muestras.nombre %>" required>
                    <br/>
                    <br/>
                    <label for="funcion">Descripción de la muestra: </label>
                    <input type="text" id="funcion" name="funcion" placeholder="<%= lista_muestras.funcion %>">
                    <br/>
                    <br/>
                    <label for="indice_bodega">Número de bodega: </label>
                    <input type="text" id="indice_bodega" name="indice_bodega" placeholder="<%= lista_muestras.indice_bodega %>">
                    <br/>
                    <br/>
                    <button type="submit">Guardar cambios</button>
                </form> 
                
            </div> 
        </div> 
        <br><br><br><br><br><br>

</main>
<%- include('includes/footer.ejs') %> 